.axure {
  background: url('../../image/u25_state0.jpg.png') no-repeat;
  background-size: 100% 100%;
}

.style {
  padding: 75px 0 65px 0;
  text-align: center;
}

.style__title {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.style__title::after {
  content: "";
  display: block;
  background-color: #ffffff;
  margin: 15px 0 15px 0;
  width: 64px;
  height: 2px;
  position: relative;
  left: 47%;
}

.style__subtitle {
  color: #ffffff;
  opacity: 0.8;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 35px;
}

.btn  {
  padding: 15px 30px;
  background: none;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 400;
  border: 1.5px solid #ffffff;
}

.btn:hover  {
  box-shadow: 0 0 10px rgba(216, 194, 194, 0.5);
}